<% @home_page_menu_active = true %>
<h1 class="page-header">Home Page - Estréias no SescTV</h1>
<div class="panel panel-default">
  <div class="panel-heading">Editar dados do destaque</div>
  <div class="panel-body">

    <% if @tv_feature.errors.any? %>
      <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <%= fa_icon 'warning-sign', "Por favor preencha todos os campos corretamente" %>
      </div>
    <% end -%>

    <%= form_for [:admin, @tv_feature], html: { class: 'form-horizontal', autocomplete: 'off' } do |f| %>

      <div class="form-group">
        <%= f.label :debuts_at, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <div class='input-group date' id='debuts_at_datepicker' style="width: 200px;">
            <%= f.text_field :debuts_at,
                             :class => 'form-control', :autofocus => true,
                             :value => l(@tv_feature.debuts_at, format: :input)  %>
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="show-search" class="col-sm-2 control-label">Show</label>
        <div class="col-sm-10">
          <%= text_field_tag(
                :show_search, show_selector_display(@tv_feature.show),
                :class => 'show-select form-control',
                :data => {
                  :target_id => "#tv_feature_show_id",
                  :target_description => "#tv_feature_description"
                },
                :placeholder => "Digite uma parte do nome do artista para selecionar") %>
          <%= f.hidden_field :show_id %>
        </div>
      </div>

      <%= f.horizontal_group :description, :text_area,
                             :placeholder => "Selecione um show ou digite uma descrição alternativa",
                             :rows => 8 %>

      <div class="form-group">
        <hr />
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.button type: 'submit', class: 'btn btn-success' do %>
            <%= fa_icon :save, "Salvar" %>
          <% end -%>
          <%= link_to admin_tv_features_path, class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-list"></i> Voltar à lista
          <% end -%>
          <%= link_to [:admin, @tv_feature], :class => "btn btn-danger",
                      :method => :delete,
                      :confirm => "Tem certeza que deseja apagar o destaque?" do %>
            <%= fa_icon 'trash-o', "Apagar" %>
          <% end -%>
        </div>
      </div>
    <% end -%>

  </div>
</div>
<script type="text/javascript">
  jQuery(function ($) {
    $('#debuts_at_datepicker').datetimepicker({
      language: 'ptbr'
    });
    $("#debuts_at_datepicker").data("DateTimePicker");
  });
</script>
