<% if events.any? %>
  <div class="events-list-title events-list-title-<%= type %>">
    <h2><%= t ".#{type}.title" %></h2>
  </div>
  <div class="block events-list events-list-<%= type %>">
    <% events.group_by(&:date).each do |date, events| %>
      <h3><%= l date, format: :month %></h3>
      <%= render "videos_list", events: events %>
    <% end -%>
  </div>
<% end -%>
