<% title @artist.name %>

<% content_for :head do %>
  <% cache [:head, @artist].compact do %>
    <%= meta_properties({
      "og:url" => artist_url(@artist),
      "og:title" => page_title,
      "og:description" => @artist.description,
      "og:image" => "http:#{@artist.thumbnail}"
    }) %>
  <% end -%>
<% end -%>

<% cache @artist do %>

<div class="feature">
  <%= artist_banner(@artist) %>
  <div class="feature-sidebar">
    <div class="block artist-description">
      <h1><%= @artist.name %></h1>
      <div class="autoscroll">
        <%= markdown @artist.description %>
      </div>
    </div>
    <%= artist_instruments(@artist) %>
    <%= artist_genres(@artist) %>
  </div>
</div>

<div class="artist-content">
  <div class="artist-main">
    <%= render "event_list", type: :site, events: @artist.site_events %>
    <%= render "event_list", type: :tv, events: @artist.tv_events %>
    <%= render "event_list", type: :legacy, events: @artist.legacy_events %>
    <div class="whiteblock">
      <%= disqus_comments(@artist) %>
    </div>
  </div>
  <div class="artist-sidebar">
    <%= render "playlist", artist: @artist %>
    <%= render "gallery", artist: @artist %>
    <%= render "social_plugins", artist: @artist %>
  </div>
</div>

<% end -%>
