<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <%= link_to fa_icon(:dashboard, "Painel de Controle", fixed: true), admin_root_path %>
      </li>
      <li><%= link_to fa_icon(:music, "Artistas", fixed: true), admin_artists_path %></li>
      <% if @home_page_menu_active %>
      <li class="active">
      <% else %>
      <li>
      <% end -%>
        <a href="#"><%= fa_icon(:home, "Home Page", fixed: true) %><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><%= link_to fa_icon('picture-o', "Estréias SescTV", fixed: true), admin_tv_features_path %></li>
          <li><%= link_to fa_icon('calendar', "Programação SescTV", fixed: true), admin_tv_schedule_items_path %></li>
          <li><%= link_to fa_icon('calendar', "Agenda de Shows", fixed: true), admin_schedule_items_path %></li>
        </ul>
      </li>
      <li><%= link_to fa_icon('picture-o', "Destaques", fixed: true), admin_features_path %></li>
    </ul>
    <%= render "flash_messages" %>
  </div>
</nav>
