<legend>Editar artista: <%= @artist.name %></legend>
<%= form_for [:admin, @artist], html: { class: 'form-horizontal' } do |f| %>

  <%= f.horizontal_group :name, :text_field,
                         :autofocus => true,
                         :placeholder => "Nome do artista" %>
  <%= f.horizontal_group :description, :text_area,
                         :placeholder => 'Descrição do artista em Markdown',
                         :rows => 8 %>
  <%= f.horizontal_group :instrument_names, :text_field,
                         :class => "instruments-tokenfield",
                         :placeholder => "Digite o nome do instrumento e pressione TAB" %>
  <%= f.horizontal_group :facebook_page, :text_field,
                         :placeholder => "URL do artista no Facebook para embed" %>
  <%= f.horizontal_group :twitter_widget_id, :text_field,
                         :placeholder => "ID do widget do Twitter do artista para embed" %>

  <div class="form-group">
    <hr />
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to "Cancelar", admin_artist_path(@artist), class: 'btn btn-primary' %>
      <%= f.button class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-ok"></i> Atualizar
      <% end -%>
    </div>
  </div>

<% end -%>
