<div class="home-schedule">

  <% cache [:home_tv_schedule, Date.current] do %>
  <% if debut = Event.next_debut %>
  <div class="home-tv-schedule">
    <div class="events-list-title events-list-title-tv">
      <h2>Programação no canal SescTV</h2>
    </div>
    <div class="block">
      <h3>Próxima estréia do palco para a televisão</h3>
      <%= artist_thumbnail(debut.artist) %>
      <h4><%= debut.artist.name %></h4>
      <h5><span><%= l debut.debuts_at, format: :brief %></span></h5>
      <%= markdown debut.artist.description %>
    </div>
    <% if schedule_day = TvScheduleItem.current_or_last_day %>
    <div class="home-tv-schedule-feed">
      <h4>Veja a programação para o dia <%= l schedule_day, format: :short %></h4>
      <ul>
        <% TvScheduleItem.for_day(schedule_day).each do |schedule_item| %>
        <li>
          <span><%= l schedule_item.starts_at, format: :time %></span><%= schedule_item.description %>
        </li>
        <% end -%>
      </ul>
    </div>
    <% end -%>
  </div>
  <% end -%>
  <% end -%>

  <div class="home-site-schedule tabstrip">
    <div class="home-site-schedule-title">
      <h2>No palco do Sesc Consolação e ao vivo na Internet</h2>
      <h3>Toda segunda-feira, às 19h</h3>
    </div>
    <% schedule = Show.next_shows %>
    <div class="schedule-tabs">
      <nav>
        <% schedule.each_with_index do |show, i| %>
        <%= home_schedule_tab(show, i == 1) %>
        <% end -%>
      </nav>
    </div>
    <% schedule.each_with_index do |show, i| %>
    <%= home_schedule_panel(show, i == 1) do %>
      <div class="schedule-tab-thumb">
        <%= artist_thumbnail(show.artist) %>
        <h5><%= show.artist.name %></h5>
      </div>
      <div class="schedule-tab-description">
        <%= markdown show.description %>
      </div>
    <% end -%>
    <% end -%>
  </div>

</div>
