<div class="home-schedule">

  <% cache [:home_tv_schedule, Date.current] do %>
  <% debut = Event.next_debut %>
  <div class="home-tv-schedule">
    <div class="events-list-title events-list-title-tv">
      <h2>Programação no canal SescTV</h2>
    </div>
    <div class="block">
      <h3>Próxima estréia do palco para a televisão</h3>
      <%= artist_thumbnail(debut.artist) %>
      <h4><%= debut.artist.name %></h4>
      <h5><span><%= l debut.debuts_at, format: :brief %></span></h5>
      <%= markdown debut.artist.description %>
    </div>
  </div>
  <% end -%>

  <div class="home-site-schedule">
    <h2>
      No palco do Sesc Consolação e ao vivo na Internet
      <span>Toda segunda-feira, às 19h</span>
      <span>Veja a programação do mês de Janeiro</span>
    </h2>
    <% schedule = [
      Artist.find_by_slug!("andre-geraissati"),
      Artist.find_by_slug!("leo-mitrulis"),
      Artist.find_by_slug!("nectar-do-groove"),
      Artist.find_by_slug!("jaiz-in-4"),
    ]
    %>
    <div class="schedule-tabs">
      <nav>
        <% schedule.each do |artist| %>
        <a href="#<%= artist.slug %>"><%= artist.name %> <span>06/01</span></a>
        <% end -%>
      </nav>
    </div>
    <% schedule.each do |artist| %>
    <div class="schedule-tab" id="<%= artist.slug %>">
      <%= artist_thumbnail(artist) %>
      <h5><%= artist.name %></h5>
      <%= markdown artist.description %>
    </div>
    <% end -%>
  </div>

</div>
