<% title t(".title") %>

<% cache cache_key, expires_in: 5.minutes do %>

<div class="search-results-sidebar">
  <div class="block search-filters">
    <h2>Filtrar Busca</h2>
    <%= render "search_filters", :scope => @search %>
  </div>
</div>

<div class="search-results-block">
  <div class="block-title">
    <h1>Busca</h1>
  </div>
  <div class="block">
    <div class="summary">
      <h2>Resultados para o termo:</h2>
      <p><%= @search_term %></p>
    </div>

    <% if @search.empty? %>
      <p>Nenhum resultado encontrado.</p>
    <% end -%>

    <% if @artist_results.any? %>
      <h2>Artistas</h2>
      <%= render "artists_table", artists: @artist_results.map(&:searchable) %>
    <% end -%>

    <% if @show_results.any? %>
      <h2>Shows</h2>
      <%= render "videos_list", events: @show_results.map(&:searchable), title_method: :title %>
    <% end-%>

    <% if @more_results.any? %>
      <h2>Outros resultados</h2>
      <%= render "videos_list", events: @more_results.map(&:searchable), title_method: :title %>
    <% end-%>
  </div>
</div>

<% end -%>
