<% title @event.article_title %>

<% cache [@event, @song].compact do %>

<% content_for :head do %>
  <%= meta_tags({
    "og:title" => @song.try(:opengraph_title) || @event.title,
    "og:description" => @event.description,
    "og:image" => @event.artist.thumbnail
    }) %>
<% end -%>

<div class="block-title">
  <h1><%= @event.article_title %></h1>
  <small><%= l @event.date, format: :long %></small>
</div>
<div class="whiteblock grid">
  <div class="col col-70">
    <div class="event-main">
      <%= video_player(@event) %>
      <%= markdown @event.description %>
      <%= render "band_members", show: @event if @event.playlist? %>
    </div>
  </div>
  <div class="col col-30">
    <div class="event-sidebar">
      <%= render "timecodes", video: @event.video if @event.timecoded? %>
      <%= render "playlist", show: @event if @event.playlist? %>
      <%= render "factsheet", event: @event if @event.factsheet %>
    </div>
  </div>
</div>
<div class="share-buttons-wrapper">
  <div class="share-buttons">
    <span>Compartilhe</span>
    <% event_url = artist_event_url(@artist, @event) %>
    <%= twitter_share_button(@event.twitter_text, url: event_url) %>
    <%= facebook_share_button(url: event_url) %>
    <%= google_plus_share_button(url: event_url) %>
    <%= email_share_button(@event.email_subject, @event.email_body) %>
  </div>
</div>

<div class="grid">
  <div class="col col-60">
    <div class="whiteblock">
      <%= disqus_comments(@event) %>
    </div>
  </div>
  <div class="col col-40">
    <%= render "related_content", artist: @artist, event: @event %>
  </div>
</div>

<% end -%>
