<% title "AO VIVO: #{@transmission.artist.name}" %>

<% content_for :head do %>
  <% cache [:head, @transmission] do %>
    <%= meta_properties({
      "og:url" => live_transmission_url(@transmission),
      "og:title" => "Ao Vivo: #{@transmission.artist.name} | Instrumental SESC Brasil",
      "og:description" => @transmission.description,
      "og:image" => "http:#{@transmission.artist.thumbnail}"
      }) %>
  <% end -%>
<% end -%>

<% cache @transmission do %>

<div class="block-title">
  <h2>AO VIVO | <%= @transmission.artist.name %></h2>
</div>
<div class="block">
  <div class="grid">
    <div class="col" style="width: 640px;">
      <%= raw @transmission.live_video %>
      <div class="share-buttons">
        <span>Compartilhe</span>
        <%= twitter_share_button(@transmission.twitter_text) %>
        <%= facebook_share_button %>
        <%= google_plus_share_button %>
        <%= email_share_button(@transmission.email_subject, @transmission.email_body) %>
      </div>
      <iframe  width="640" height="480" src="http://cdn.livestream.com/chat/?shareurl=http://www.livestream.com/instrumentalsescbrasil&amp;channel=instrumentalsescbrasil" style="border:0;outline:0;" frameborder="0" scrolling="no" bgcolor="#ffffff"></iframe>
    </div>
    <div class="col" style="width: 270px;">
      <%= artist_thumbnail(@transmission.artist) %>
      <div class="live-description">
        <%= markdown(@transmission.description) %>
      </div>
      <div class="band-members">
        <h3>Formação</h3>
        <%= markdown(@transmission.band_members) %>
      </div>
    </div>
  </div>
</div>
<% end -%>

<% cache "live-transmissions-next-list-#{Date.current.to_s}", skip_digest: true do %>
  <% if @next_transmissions.any? %>
  <div class="block next-live-transmissions">
    <h3>Próximas Apresentações</h3>
    <ul>
      <% @next_transmissions.each do |transmission| %>
        <li>
          <span><%= l(transmission.date, format: :tiny) %></span>
          <h4><%= transmission.artist.name %></h4>
        </li>
      <% end -%>
    </ul>
  </div>
  <% end -%>
<% end -%>
