<footer>

  <ul class="footer-links">
    <li>
      <h3><%= t ".social" %></h3>
      <nav class="nav-social">
        <%= footer_facebook_link %>
        <%= footer_twitter_link %>
      </nav>
    </li>
    <li><%= markdown_t ".tune_info" %></li>
    <li class="footer-logo"><%= footer_sescsp_link %></li>
    <li class="footer-logo"><%= footer_sesctv_link %></li>
  </ul>

  <ul class="footer-copyright">
    <li><%= t ".copyright" %></li>
    <li><%= footer_privacy_link %></li>
  </ul>

</footer>
