<% cache request.host do %>
<header>
  <%= header_logo %>
  <%= render "search_form" %>
  <nav class="nav-header" role="navigation">
    <% if sound_check_domain? %>
      <%= link_to "Programas", sound_check_list_path %>
      <%= link_to "Sobre", about_us_path %>
      <%= link_to "Instrumental SESC Brasil", root_url(host: "www.instrumentalsescbrasil.org.br"), target: '_blank' %>
    <% else -%>
      <%= link_to t("artists.index.title"), artists_path %>
      <%= link_to "Playlists", playlists_path %>
      <%= link_to t("radio.show.title"), radio_path, id: "radio_link" %>
      <%= link_to t("artists.legacy.title"), legacy_artists_path %>
      <%= link_to t("home.about_us.title"), about_us_path %>
      <%= link_to "Passagem de Som", root_url(host: "passagemdesom.sesctv.org.br"), target: '_blank' %>
    <% end -%>
    <%= link_to t("layouts.contact_form.title"), contact_form_path %>
  </nav>
</header>
<div class="alert-live">
  <a href="/aovivo">Ao vivo! Assista agora <span id="live-artist"></span><span class="alert-inverse">Clique e veja a transmissão</span></a>
</div>
<% end -%>
