<%
  instrument = Instrument.find_by_id(params[:instrument_id])
  genre = Genre.find_by_id(params[:genre_id])
%>

<% if instrument %>
  <h3><%= t ".filter_by_instrument" %></h3>
  <p>
    <strong><%= instrument.name.mb_chars.capitalize %></strong>
    <%= link_to "[x]", params.merge(instrument_id: nil) %>
  </p>
<% else -%>
  <% instruments = scope.instruments_list %>
  <% if instruments.any? %>
    <h3><%= t ".filter_by_instrument" %></h3>
    <ul class="filter-list">
    <% instruments.each do |id, name, count| %>
      <li><%= link_to "#{name.mb_chars.capitalize} (#{count})", params.merge(instrument_id: id) %></li>
    <% end -%>
    </ul>
  <% end -%>
<% end -%>

<% if genre %>
  <h3><%= t ".filter_by_genre" %></h3>
  <p>
    <strong><%= genre.name.capitalize %></strong>
    <%= link_to "[x]", params.merge(genre_id: nil) %>
  </p>
<% else -%>
  <% genres = scope.genres_list %>
  <% if genres.any? %>
    <h3><%= t ".filter_by_genre" %></h3>
    <ul class="filter-list">
    <% genres.each do |id, name, count| %>
      <li><%= link_to "#{name.capitalize} (#{count})", params.merge(genre_id: id) %></li>
    <% end -%>
    </ul>
  <% end -%>
<% end -%>
