<!DOCTYPE html>
<html>
<head>
  <title><%= t "title" %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "live_reload" if Rails.env.development? %>
</head>
<body>

  <div class="layout-background">
    <div class="layout-wrapper">
      <%= render "header" %>
      <div class="layout-content">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
    <%= render "footer" %>
  </div>

</body>
</html>
